// Define variables for your color scheme

// For example:
$red: #e11d5e;
$blue: #7e4fff;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$indigo-lighter: #474174;
$indigo-light: #332f5b;
$indigo: #2d2654;
$indigo-dark: #1d1a30;
$indigo-darker: #1d172d;
