// Define variables for your color scheme

// For example:
$red: #e11d5e;
$blue: #7e4fff;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$indigo: #422f66;
$indigo-light: #584281;
$indigo-dark: #2b1d44;
