// Define variables for your color scheme

// For example:
$red: #e11d5e;
$blue: #7e4fff;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$indigo-light: #3e2f5b;
$indigo: #241f42;
$indigo-dark: #221a30;
