<div id="<%= dom_id user_activity %>">
  <p>
    <strong>User:</strong>
    <%= user_activity.user_id %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= user_activity.activity_id %>
  </p>

</div>
