<h1>Editing user activity</h1>

<%= render "form", user_activity: @user_activity %>

<br>

<div>
  <%= link_to "Show this user activity", @user_activity %> |
  <%= link_to "Back to user activities", user_activities_path %>
</div>
