<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<div class="logo-search-container">

  <div class="lettering-container">
    <h1>nano</h1>
    <p>non-alcoholic nights out</p>
    <%= form_with url: activities_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an activity"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
  </div>
</div>

<div class="happeningtonight-container">
  <div class="text1" style='text-align: center;'>
    <p>happening tonight</p>
  </div>
<div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true}'>
  <!--carousel cell-->
  <div class="carousel-cell">
    <img class="w3-image" src="https://cdn.shopify.com/s/files/1/0602/0707/1381/products/Frida-by-Sannib.png?v=1666184510">
  </div>

  <!--carousel cell-->
  <div class="carousel-cell">
    <img class="w3-image" src="https://m.media-amazon.com/images/I/51BL4Cpt8tL._AC_.jpg">
  </div>

  <!--carousel cell-->
  <div class="carousel-cell">
    <img class="w3-image" src="https://secure.img1-cg.wfcdn.com/im/25508192/resize-h445%5Ecompr-r85/1731/173123074/Flowers+Garden+by+Gustav+Klimt+-+Wrapped+Canvas+Painting.jpg">
  </div>

  <!--carousel cell-->
  <div class="carousel-cell">
    <img class="w3-image" src="https://litb-cgis.rightinthebox.com/images/640x640/202109/bps/product/inc/ahijyf1630925030997.jpg">
  </div>


  <!--carousel cell-->
  <div class="carousel-cell">
    <img class="w3-image" src="https://m.media-amazon.com/images/I/61Jle4M4CGL._AC_SX679_.jpg">
  </div>


  <!--carousel cell-->
  <div class="carousel-cell">
    <img class="w3-image" src="https://afremov.com/images/product/THE-SWAN-LONDON.jpg">
  </div>


  <!--carousel cell-->
  <div class="carousel-cell">
    <img class="w3-image" src="https://www.superprof.co.uk/blog/wp-content/uploads/2019/05/great-wave-off-kanagawa.jpg">
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>



</div>

  <div class="nearme-container">
    <p>near me</p>


    <div class="map-container">
      <div id='map' style='width: 100%; height: 100%;'></div>
    <iframe width='100%' height='400px' src="https://api.mapbox.com/styles/v1/kiranjaimon/clb3t88ao000814o3t3tl52u7.html?title=false&access_token=pk.eyJ1Ijoia2lyYW5qYWltb24iLCJhIjoiY2xiM2t3YW92MGE1cTN3bXR2cXI3a2xzaiJ9.lRdocb8U5mw1CVf3mW7BpQ&zoomwheel=false#11/48.138/11.575" title="Navigation" style="border:none;"></iframe>

    </div>
  </div>

<div class="margin-container">
  <div class="explore-container">
    <div class="category-text">
        <p>explore</p>
    </div>
    <div class="categories-container">
      <ul>
        <li>category 1</li>
        <li>category 2</li>
        <li>category 3</li>
        <li>category 4</li>
        <li>category 5</li>
        <li>category 6</li>
        <li>category 7</li>
        <li>category 8</li>
      </ul>
    </div>
    <div class="categorycard-container">
      <div class="card-category">1</div>
      <div class="card-category">2</div>
      <div class="card-category">3</div>
      <div class="card-category">4</div>
      <div class="card-category">5</div>
      <div class="card-category">6</div>
    </div>
  </div>
</div>
