<%# use this as the show page once application controller is complete. %>

<div class="img-carousel-container">
  <div class="img-carousel">image</div>
  <div class="img-carousel">image</div>
  <div class="img-carousel">image</div>
</div>

<div class="margin-container">

</div>
