.cards-index {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.icard {
  width: 160px;
  height: 160px;

  list-style: none;
  background-color: white;
  box-shadow: 0 10px 30px 0 rgba(0, 49, 117, 0.1);
  border-radius: 5px;


}
