.logo-search-container {
  background-color: white;


  .lettering-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;

    h1 {
      font-size: 100px;
    }
    p {
      color: black;
    }
  }
}

.happeningtonight-container {
  padding: 25px 25px 75px;

  .card-container-carousel {
    display: flex;
    margin: 0 50px;
    height: 100px;


    .card {
      background-color: rgb(181, 181, 181);
      width: 150px;
      max-height: fit-content;
      border-radius: 5px;
      margin-right: 40px;
    }
  }
}

.explore-container {

  .category-text {
    text-align: center;
  }

  .categories-container{
    margin-bottom: 15px;
    ul {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }

    li {
      min-width: 25%;
      list-style: none;
    }
  }

  .categorycard-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;

    .card-category {
      background-color: rgb(181, 181, 181);
      width: 150px;
      height: 100px;
      border-radius: 5px;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
}

.margin-container {
  width: 60%;
  margin: auto;
}

.space-between-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: 0;
}

.half-container {
  display: flex;
}

.activity-info-container {
  width: 50%;
  padding: 50px;
  padding-top: 100px;
  background-color: white;
}
