.search-form {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  height: 50px;
  min-width: 50px;
  border-radius: 25px;
  padding: 0 20px;
  margin: 8px;

  background-color: $blue;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 40, 0.3);
  color: white;

  h5 {margin: 0}

  .form-control {
    background-color: transparent;
    border: none;
    color: white;

    &::placeholder {
      color: rgba(255,255,255,0.7);
    }

    &:focus {
      border: none;
      box-shadow: none;
      background-color: transparent;
    }
  }
}

.search-outline {
  height: 50px;
  min-width: 50px;
  border-radius: 25px;
  padding: 0 10px;
  margin: 8px;

  background-color: none;
  border: 3px solid $blue;
  color: white;

  .form-control {
    background-color: transparent;
    border: none;
    color: white;

    &::placeholder {
      color: rgba(255,255,255,0.7);
    }

    &:focus {
      border: none;
      box-shadow: none;
      background-color: transparent;
    }
  }
}
