.carousel-container-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  background-color: white;
}

.carousel-show {
  width: 50%;
}

.carousel-cell {
  width:33%;
  height:400px;
  display: inline-block;
  margin: 0 15px;
  border: 3px solid #4107a6;
  overflow: hidden;

}

.carousel-cell img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.carousel-cell-show {
  width: 100%; /* full width */
  height: 400px;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.carousel-cell-show img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.flickity-button {
  background: transparent;
}
