.image-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;

  img {
    width: 80%;
    object-fit: cover;
  }
}

.carousel-container-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  background-color: white;
}

.carousel-show {
  width: 60%;

  img {
    width: 100%;
    height: 95vh;
    object-fit: cover;
  }
}

.carousel-home {
  height: 200px;

  a {
    padding-bottom: 30px;
  }
}

.carousel-cell-home {
  // width: 120px;
  // height: 100px;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 40, 0.3);

  // img {
  //   object-fit: cover;
  //   width: 120px;
  //   height: 100px;
  //   border-radius: 5px;
  // }
}

.carousel-cell-show {
  width: 100%; /* full width */
  height: 750px;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.carousel-cell-show img {
  width: 100%;
  height: 750px;
  object-fit: cover;
}

.flickity-button {
  background: transparent;
}

.flickity-viewport {
  overflow-y: visible;
  height: 200px;
}

.icard img{
  width: 100%;
  height: 75%;
  object-fit: cover;
}
