.likes-container {
  color: white;
  padding-top: 50px;
  width: 800px;
  margin-left: 20%;

  h2 {
    margin: 0 50px 50px;
  }
}

.profile-container {
  color: white;
  padding-top: 50px;
  max-width: 800px;
  margin-right: 20%;
}
