.likes-container {
  color: white;
  padding-top: 50px;
  width: 50%;

  h2 {
    margin: 0 50px 50px;
  }
}

.profile-container {
  color: white;
  padding-top: 50px;
  max-width: 800px;
}

.half-container-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 50px 100px;
}
