.reviews-container {
  display:flex;
  width: 80%;
  margin: 0 10%;
  color: white;
  padding: 0 10%;
}


.review-container {
  background-color: $indigo-light;
  border-radius: 8px;
  width:100%;
  padding: 20px;
  margin: 30px 0;

}

.review-dude {
  display:flex;
  justify-content: center;
  padding:0 10% 100px;
  .new-reviews {
    padding-top: 10%;
    width:37%;
    color: white;
  }
  .image-container {
    width:35%;
  }

}

.map-reviews-container {
  display: flex;
  margin: 50px 100px;

  .map-container {
    width: 100%;
  }
}
