.show-tag {
  background-color: $blue;
  border-radius: 24px;
  line-height: 24px;
  padding: 5px 10px;
  font-size: 12px;

  color: black;
  text-decoration: none;
}

.tags-container {
  padding: 0;
}
