<h1>Activities </h1>


<div>
  <ul>
    <% @activities.each do |activity| %>
      <li><%= link_to activity.name, activity_path(activity) %></li>
    <% end %>

  </ul>
</div>

<%= link_to "New Activity", new_activity_path %>


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  </head>
<body>

<!-- navbar -->
<div class="nav-bar">
<!-- add things in here -->
</div>
<!-- /navbar -->


<!-- header -->
<div class="container">
  <img src="" alt="">
    <h1>Nano</h1>
</div>
<!-- /header -->


<div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true}'>
  <!--carousel cell-->
  <div class="carousel-cell">
    <img class="w3-image" src="https://cdn.shopify.com/s/files/1/0602/0707/1381/products/Frida-by-Sannib.png?v=1666184510">
  </div>

  <!--carousel cell-->
  <div class="carousel-cell">
    <img class="w3-image" src="https://m.media-amazon.com/images/I/51BL4Cpt8tL._AC_.jpg">
  </div>

  <!--carousel cell-->
  <div class="carousel-cell">
    <img class="w3-image" src="https://secure.img1-cg.wfcdn.com/im/25508192/resize-h445%5Ecompr-r85/1731/173123074/Flowers+Garden+by+Gustav+Klimt+-+Wrapped+Canvas+Painting.jpg">
  </div>

  <!--carousel cell-->
  <div class="carousel-cell">
    <img class="w3-image" src="https://litb-cgis.rightinthebox.com/images/640x640/202109/bps/product/inc/ahijyf1630925030997.jpg">
  </div>


  <!--carousel cell-->
  <div class="carousel-cell">
    <img class="w3-image" src="https://m.media-amazon.com/images/I/61Jle4M4CGL._AC_SX679_.jpg">
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>




<!-- filter and search section -->
<div class="container">
  <div class="search-bar">
    <div class ="search-btn">
    </div>
  </div>
  <div class="filter">
    <i class="fa-solid fa-arrow-up-wide-short"></i>
    <h2>filter</h2>
  </div>
</div>
<!-- /filter and search section -->

<!-- index area -->
<div class="container">
  <div class="margin-container">

<!-- make a card -->
    <div class="card">
      <img src="" alt="">
      <div class="info">
      <p></p>
      </div>
    </div>


<!-- make a card -->
    <div class="card">
      <img src="" alt="">
      <div class="info">
      <p></p>
      </div>
    </div>


<!-- make a card -->
    <div class="card">
      <img src="" alt="">
      <div class="info">
      <p></p>
      </div>
    </div>


<!-- make a card -->
    <div class="card">
      <img src="" alt="">
      <div class="info">
      <p></p>
      </div>
    </div>


<!-- make a card -->
    <div class="card">
      <img src="" alt="">
      <div class="info">
      <p></p>
      </div>
    </div>


<!-- make a card -->
    <div class="card">
      <img src="" alt="">
      <div class="info">
      <p></p>
      </div>
    </div>


<!-- make a card -->
    <div class="card">
      <img src="" alt="">
      <div class="info">
      <p></p>
      </div>
    </div>


<!-- make a card -->
    <div class="card">
      <img src="" alt="">
      <div class="info">
      <p></p>
      </div>
    </div>


<!-- make a card -->
    <div class="card">
      <img src="" alt="">
      <div class="info">
      <p></p>
      </div>
    </div>

  </div>
</div>
<!-- /index area-->


</body>
