<h1>Activities </h1>


<div>
  <ul>
    <% @activities.each do |activity| %>
      <li><%= link_to activity.name, activity_path(activity) %></li>
    <% end %>

  </ul>
</div>

<%= link_to "New Activity", new_activity_path %>


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>

<!-- navbar -->
<div class="nav-bar">
<!-- add things in here -->
</div>
<!-- /navbar -->


<!-- header -->
<div class="container">
  <img src="" alt="">
    <h1>Nano</h1>
</div>
<!-- /header -->


<!-- filter and search section -->
<div class="container">
  <div class="search-bar">
    <div class ="search-btn">
    </div>
  </div>
  <div class="filter">
    <i class="fa-solid fa-arrow-up-wide-short"></i>
    <h2>filter</h2>
  </div>
</div>
<!-- /filter and search section -->

<!-- index area -->
<div>
  <div class="margin-container cards-index">

    <div class="icard card">
      <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2011/06/MumfordGlastonburyTOX240611_0-4.jpg" alt="">
      <div class="info">
      <p> look an activity!</p>
      </div>
    </div>

    <div class="icard card">
      <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2011/06/MumfordGlastonburyTOX240611_0-4.jpg" alt="">
      <div class="info">
      <p> look an activity!</p>
      </div>
    </div>

    <div class="icard card">
      <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2011/06/MumfordGlastonburyTOX240611_0-4.jpg" alt="">
      <div class="info">
      <p> look an activity!</p>
      </div>
    </div>

    <div class="icard card">
      <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2011/06/MumfordGlastonburyTOX240611_0-4.jpg" alt="">
      <div class="info">
      <p> look an activity!</p>
      </div>
    </div>

    <div class="icard card">
      <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2011/06/MumfordGlastonburyTOX240611_0-4.jpg" alt="">
      <div class="info">
      <p> look an activity!</p>
      </div>
    </div>

    <div class="icard card">
      <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2011/06/MumfordGlastonburyTOX240611_0-4.jpg" alt="">
      <div class="info">
      <p> look an activity!</p>
      </div>
    </div>

    <div class="icard card">
      <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2011/06/MumfordGlastonburyTOX240611_0-4.jpg" alt="">
      <div class="info">
      <p> look an activity!</p>
      </div>
    </div>

    <div class="icard card">
      <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2011/06/MumfordGlastonburyTOX240611_0-4.jpg" alt="">
      <div class="info">
      <p> look an activity!</p>
      </div>
    </div>

    <div class="icard card">
      <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2011/06/MumfordGlastonburyTOX240611_0-4.jpg" alt="">
      <div class="info">
      <p> look an activity!</p>
      </div>
    </div>


    <div class="icard card">
      <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2011/06/MumfordGlastonburyTOX240611_0-4.jpg" alt="">
      <div class="info">
      <p> look an activity!</p>
      </div>
    </div>

    <div class="icard card">
      <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2011/06/MumfordGlastonburyTOX240611_0-4.jpg" alt="">
      <div class="info">
      <p> look an activity!</p>
      </div>
    </div>

    <div class="icard card">
      <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2011/06/MumfordGlastonburyTOX240611_0-4.jpg" alt="">
      <div class="info">
      <p> look an activity!</p>
      </div>
    </div>

  </div>
</div>
<!-- /index area-->


</body>
