<div id="<%= dom_id review %>">
  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= review.title %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= review.comment %>
  </p>

</div>
